* {
    margin: 0;
    padding: 0;
}

.nav{
  display: flex;
  justify-content: flex-end;  
  background-color: #443850;
}

.links a {
    color: #fff;
    padding: 10px;
    text-decoration: none;    
}

.links {
    margin: 10px;
}
.img_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.input_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #569cca;
    border-radius: 24px;
    width: 600px;
    height: 38px;
}

.input_container , .material-symbols-outlined{
    padding: 6px;
}
.input_container > input {
    flex-grow: 1;
    border: none;
    outline: none;
}

.search_but {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search_but input {
    margin: 5px;
    padding: 5px;
}